li a {
    color: blue;
}

body {
    background: yellow url("images/background.jpeg") no-repeat;
    background-size: cover;
}
#links {
    /*list-style-type: square;  Changes bullet points to squares */
    padding: 40px; /* Adds padding around the list */
    width: 50%; /* Sets a width for the <ul> */
    margin: 0 auto; /* Centers the <ul> horizontally */
}